<h2>Posts</h2>

<!-- Create a form to send down data to the route -->
<form method="post" action="/post/save" enctype="application/x-www-form-urlencoded">
    <input name="title" placeholder="title">
    <input name="description" placeholder="description">
    <input name="author" placeholder="author">
    <input name="email" placeholder="email address">

    <button type="submit">Submit</button>
</form>

<table border="1">
    <tbody>
        <tr>
            <td>name</td>
            <td>{{data.name}}</td>
        </tr>
        <tr>
            <td>value</td>
            <td>{{data.value}}</td>
        </tr>
        <tr>
            <td>phrase</td>
            <td>{{data.phrase}}</td>
        </tr>
    </tbody>
</table>
