body {
    background-color: #dbdbdb;
}

.notice {

    //Adding the '&' in the class is the same as doing '.notice.error'
    &.error {
        background-color: #f6cbcb;
        border: 2px solid #fc6969;
        border-radius: 10px;
        color: #fc6969;
        padding: 10px;
    }

    &.warn {}

    &.info {}

    &.success {}
}
