<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Server</title>
    </head>
    <body>

        <nav>
            <a href = "/">Home</a>
            <a href = "/about">About</a>
            <a href = "/contact">Contact</a>
            <a href = "/faq">FAQ</a>
        </nav>
        <h1>Simple Server</h1>
        <p>This is the simple server app.</p>



        <!-- Set an area of the page where the partial html content will be inserted. -->
        {{{ body }}}
    </body>
</html>
